/*Global*/

html, body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
}

/*jumbotron*/
.jumbotron {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 560px;
  margin-bottom: 0px;
}

/*header*/

.header ul li {
  display: inline;
}

.header ul {
  list-style: none;
  float: right;
}

.header a {
  padding: 10px;
  color: #fff;
}

.header .btn { /*donwload Button*/
  background-color: #ff003d;
  border-radius: 1px;
  color: #fff;
  padding: 10px 30px;
  border: 0px;
  font-weight: bold;
}

.header .btn:hover {
  color: #428bca;
}

/*main*/

.main {
  color: #fff;
}

.main h1 {
  margin-top: 60px;
}

.main p {
  font-weight: 200;
  font-size: 21px;
}


/*supporting*/

.supporting-1, .supporting-2, .supporting-3, .supporting-4 {
  padding: 70px;
  color: #fff;
}

.supporting-1 {
  background-color:  #161718;
}

.supporting-2 {
  background-color: #000;
}

.supporting-3 {
  background-color: #161718;
}

.supporting-4 {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  color: #fff;
  text-align: center;
}

.supporting-4 h2 {
  margin-top: 80px;
}

/*footer*/

.footer {
  color: #fff;
  background-color: #000;
  padding: 50px 0 35px 0;
}

.footer h3 {
  font-size: 15px;
  text-transform: uppercase;
}

.footer ul {
  list-style: none;
  padding: 0px;
}

.footer ul li {
  color:  #aaa;
  padding: 5px 0px;
  font-size: 13px;
}
